/* 
Reset
*/
    :root{
        --max-width: 90rem;
        --max-marge: 6rem;
        --med-marge: 3rem;
        --min-marge: 1.5rem;
        --dark-color: black;
        --med-color: grey;
        --light-color: white;
        --error-color: red;
        --success-color: green;
    }

    *{
        margin: 0;
        padding: 0;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    app-home-page, app-form-response{
        display: block;
    }

    html{
        font-size: 62.5%;
        font-family: sans-serif;
        font-weight: 100;
        line-height: 1.5;
    }

    body{
        font-size: 1.6rem;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    form{
        margin-bottom: var(--med-marge);
    }

    input:not([type="checkbox"]), input:not([type="radio"]), label, [type="submit"]{
        display: block;
        width: 100%;
        background: transparent;
    }

    label{
        font-size: 1.1rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    input{
        font-size: 2rem;
        padding: var(--min-marge);
        border: none;
        border-bottom: .1rem solid var(--med-color);
        margin-bottom: var(--med-marge);
    }

    button{
        border: none;
        background: transparent;
    }

    [type="submit"]{
        text-transform: uppercase;
        font-weight: 900;
        padding: var(--min-marge);
        border: .1rem solid var(--med-color);
        
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }

    [type="submit"][disabled]{
        opacity: .5;
    }

    [type="submit"]:not([disabled]):hover{
        color: var(--light-color);
        background-color: var(--dark-color);
    }
/**/

/* 
Common
*/
    .maxWidth{
        max-width: var(--max-width);
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--med-marge);
        padding-right: var(--med-marge);
    }

    .flexBox{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .spaceBetween{
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }
/**/

/* 
Header
*/
    header{
        padding: var(--med-marge) 0;
    }

    nav{
        margin: var(--min-marge) 0;
        padding-bottom: var(--min-marge);
        border-bottom: .1rem dotted var(--med-color)
    }

    nav li{
        color: var(--light-color);
        display: inline-block;
        background-color: var(--med-color);
        line-height: 1.7;
        
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }

    nav li:not(:last-child){
        margin-right: var(--min-marge);
    }

    nav li:hover{
        background-color: var(--dark-color);
    }

    nav a{
        font-size: 1rem;
        font-weight: 900;
        text-transform: uppercase;
        padding: 0 var(--min-marge);
    }
/**/


/* 
Components
*/
    /* app-home-page */
    app-home-page article{
        width: calc(50% - var(--med-marge));
    }

    /* app-form-response */
    app-form-response{
        border: .1rem solid var(--med-color);
        padding: var(--min-marge);
        position: relative;
    }

    app-form-response.error{
        border-color: var(--error-color);
    }

    app-form-response.success{
        border-color: var(--success-color);
    }

    app-form-response button{
        font-size: 2rem;
        padding: .5rem;
        position: absolute;
        top: 0;
        right: 0;
    }
/**/

.state{
    margin-top: 15px;
    background: yellow;
    height: 40px;
    width: 100%;
    position: relative;
}

.state:before{
    background: grey;
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.state-0:before{
    width: 0;
}
.state-1:before{
    width: 10%;
}
.state-2:before{
    width: 20%;
}
.state-3:before{
    width: 30%;
}
.state-4:before{
    width: 40%;
}
.state-5:before{
    width: 50%;
}
.state-6:before{
    width: 60%;
}
.state-7:before{
    width: 70%;
}
.state-8:before{
    width: 80%;
}
.state-9:before{
    width: 90%;
}
.state-10:before{
    width: 100%;
}